.wallpaper{
	background: url('../img/moto.jpg'); 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 100vh;
}
a{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	font-size: 22px;
	text-decoration: none;
	padding: 5px 10px;
	background: #fff;
	color: black;
	font-weight: bold;
}
section{
	height: 100vh;
}